/* Adicione esta regra no seu arquivo de estilos CSS */
.verde {
    background-color: green;
}

        /* Estilos para o corpo da página */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        /* Estilos para o cabeçalho */
        h1 {
            background-color: #007bff;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            margin: 0;
        }

        /* Estilos para a tabela */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #fff;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #007bff;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /* Estilos para o formulário de autorização */
        .autorizar-form {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            width: 300px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .autorizar-form h2 {
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
        }

        .autorizar-form label {
            display: block;
            margin-bottom: 5px;
        }

        .autorizar-form input[type="text"],
        .autorizar-form input[type="email"],
        .autorizar-form input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .autorizar-form button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            display: block;
            margin: 0 auto;
        }

        .autorizar-form button:hover {
            background-color: #0056b3;
        }
        