@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#2f00ff;
    --white:#fff;
    --dark:#1e1c2a;
}


.logo {
    max-width: 160px; 
    height: auto;
    position: absolute; 
    top: 5px; 
    right: 5px; 
} 

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
    z-index: 10;
}
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}

@media (max-width:785px) { 
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
}
        main {
            width: 100%;
            height: 100vw;
        }

        .t1{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .t2{
            width: 100%;
            height: 50%;
            background-color: #2c2a2a3a;
            display: flex;
            justify-content: center;
            align-items: center;

        }

       
        img {
            height: 100%;
        }
        

     
        

        .alinhar{
            
            width: 70%;
            height: 60%;
            position: relative;
            display: flex;
            justify-content: space-around;
           
        }

        .juntar{
            width: 45%;
            height: 100%;
           display: flex;
           flex-direction: column-reverse;
           justify-content:flex-start;
        }

        .box{
            background-color: #2c2a2a;
            height: 85%;
            width: 100%;
            border-radius: 10px;
            text-align: left;
            padding: 20%;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
           
        }

        .bt{
            margin-top: 5%;
            bottom: 0px;
            width: 100%;
            height: 10%;
            background-color: #3CFAF6;  ;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            font-size: 1.3rem;
            border: none;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
        }



        .box2{
            background-color: rgb(185, 185, 175);
            
            height: 100%;
            width: 45%;
            border-radius: 10px;
            z-index: 1;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
        }

        .imgsala{
            
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        .box3{
            
            height: 100%;
            width: 45%;
            border-radius: 10px;
            background-color: #3CFAF6;
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
        
        }

        form{
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
        }

        input{
            width: 50%;
            
        }

        .teste{
            height: 15%;
            width: 100%;
            background-color: #2c2a2a;
            border: 5%;
            border-radius: 10px;
            padding: 2%;
            padding-left: 10%;
            padding-right: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;

        }

        .confirmar{
            height: 15%;
            width: 100%;
            border-radius: 10px;
            text-decoration: none;
            font-size: 1.3rem;
        }

        h2{
            text-decoration: none;
            font-size: 2rem;
            color: #FFF;
            padding-bottom: 10%;
        }

        p{
            text-decoration: none;
            font-size: 1.3rem;
            color: #FFF;
        }

        #p{
            padding-bottom: 6%;
        }

        .alinhar2{
           
            width: 70%;
            height: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            
        }

        table {
            width: 74%;
            border-collapse: collapse;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
          }
          
          th, td {
            padding: 10px;
            text-align: center;
          }
          
          th {
            background-color: #f2f2f2;
          }
          
          td {
            border: 1px solid #ddd;
          }
          
          .reserved {
            background-color: #F03A75;
          }
          
          .free {
            background-color: #3CFAF6;
          }
        
          .rodape{
            background-color: #5e5e5e;
            color: white;
            height: auto;
            width: 100%;
            font-size: 14px;
            font-family: helvetica;
        }
        .rodape a{
            text-decoration: none;
            color: white;
        }
        .rodape p{
            margin-bottom: 5px;
        }
        .rodape-div{
            display: flex;
            flex-wrap: wrap;
            width:100%;
            margin: auto;
            align-items: stretch;
            padding: 60px 10px 40px 10px;
        }
        .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
            display: flex;
            width: calc(100% / 4 - 20px);
            padding: 10px;
        }
        .rodape span{
            font-size: 20px;
            color: white;
        }
        .rodape-direitos{
            width: calc(100% - 20px);
            background-color: rgb(0, 0, 0);
            padding: 10px;
            margin: 0px;
            text-align: center;
        }
        /*mobile*/
        @media (max-width: 768px) {
            .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
                width: calc(50% - 20px);
                padding: 10px;
            }
            .rodape-div{
                padding: 60px 0px 40px 0px;
            }
        }
        
