@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --red:#2f00ff;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
    min-height: 100rem; 
    
}

.logo {
    max-width: 160px; 
    height: auto;
    position: absolute; 
    top: 5px; 
    right: 5px; 
} 

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}
.navigation .logo{
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--red);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--red);
}
.home{
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 4px 9px;
    background: var(--red);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s;
    font-size: 20px;
}
.home-btn:hover{
    background: #76dae7;
}
.home-img img{
    width: 100%;
    border-radius: 5px;
}
@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 100%;
    }
}

.texto{
    text-align: right;
     padding-right: 5rem;
     color: black;
     margin-top: 8rem;
     font-size: 15px;
    
  }
 
 .container{
     width: 100%;
     display: flex;
     background-color: aqua;
     height: 50vw;
     justify-content: center;
     align-items: center;
 }
 
 .container-text{
     width: 40%;
     background-color: blueviolet;
     display: flex;
     flex-direction: column;
 
 }
 
 .dev-container{
     width: 100%;
     height: 30vw;
     display: flex;
     background-color: rgb(255, 255, 255);
 }
 
 .dev-social{
     width: 60%;
     height: 30%;
     background-color: rgba(14, 228, 199, 0.712);
     display: flex;
     justify-content: center;
     border-radius: 0.4vw;
 }
 
 .dev-social img{
     max-width: 10vw;
     max-height: 10vw;
     margin: 0.3vw;
 }
 
 .devs{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(255, 255, 255);
     height: 100%;
     margin-right: 5vw;
     margin-left: 5vw;
     margin-top: 5vw;   
     color: black;
 }
 
 .devs img{
     max-width: 15vw;
     max-height: 15vw;
 }
 
 .devs p{
     font-size: 1vw;
     font-weight: bold;
     letter-spacing: 0.5px;
     margin-top: 0.7vw;
     margin-bottom: 0.7vw;
 }
 
 .dev-aluno{
     width: 100%;
     height: 30%;
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
     color: rgb(0, 0, 0);
     
 }
 
 /* Estilos para telas pequenas (até 600px de largura) */
@media screen and (max-width: 600px) {
    .dev-container {
        flex-direction: column; /* Altera o layout para empilhar verticalmente */
    }

    .dev-social {
        width: 100%; /* Ocupa a largura total */
        border-radius: 0; /* Remove o raio da borda */
    }

    .dev-social img {
        max-width: 20%; /* Aumenta a largura máxima das imagens */
        max-height: 20%; /* Aumenta a altura máxima das imagens */
    }

    .devs {
        padding: 5%; /* Ajusta o preenchimento */
        margin: 5% 0; /* Ajusta as margens superior e inferior */
    }

    .devs img {
        max-width: 30%; /* Aumenta a largura máxima das imagens */
        max-height: 30%; /* Aumenta a altura máxima das imagens */
    }

    .devs p {
        font-size: 1.5em; /* Aumenta o tamanho da fonte */
    }
}

/* Estilos para telas médias (de 601px a 900px de largura) */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .dev-social img {
        max-width: 15%; /* Ajusta a largura máxima das imagens */
        max-height: 15%; /* Ajusta a altura máxima das imagens */
    }

    .devs img {
        max-width: 25%; /* Ajusta a largura máxima das imagens */
        max-height: 25%; /* Ajusta a altura máxima das imagens */
    }
}

/* Estilos para telas grandes (mais de 900px de largura) */
@media screen and (min-width: 901px) {
    /* Qualquer estilo específico para telas maiores pode ser adicionado aqui */
}

 .dev-orientador{
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
     
 } 
 
 .orientador{
     width: 100%;
     height: 60vw;
     display: flex;
     background-color: rgb(255, 255, 255);
 }
 
 .devs-orientador{
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(255, 255, 255);
     height: 50%;
     margin-right: 5vw;
     margin-left: 5vw;
     margin-top: 5vw;  
 }
 
 
 .dev-social2{
     width: 60%;
     height: 30%;
     background-color: rgba(14, 228, 199, 0.712);
     display: flex;
     justify-content: center;
     border-radius: 0.4vw;
 }
 
 .dev-social2 img{
     max-width: 10vw;
     max-height: 10vw;
     margin: 0.3vw;
 }
 
 .devs-orientador img{
     max-width: 15vw;
     max-height: 15vw;
     
 }
 .devs-orientador p{
     font-size: 1vw;
     font-weight: bold;
     letter-spacing: 0.5px;
     margin-top: 0.7vw;
     margin-bottom: 0.7vw;
 }
 


 @media screen and (max-width: 720px) {
     main.cards {
         flex-direction: column;
     }
 
     main.cards section.card {
         margin-left: 0;
         margin-bottom: 32px;
     }
 
     main.cards section.card:last-child {
         margin-bottom: 0;
     }
 
     main.cards section.card button {
         font-size: 70%;
     }
 
 }
 
 .rodape{
    background-color: #5e5e5e;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0px;
    text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}


/* DROPDOWN */
/* Estilos do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
